<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>983600994392-stplng8sp4gf4ilbrs16523irlchdgc3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.983600994392-stplng8sp4gf4ilbrs16523irlchdgc3</string>
	<key>GCM_SENDER_ID</key>
	<string>983600994392</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.apps.BankAlert</string>
	<key>PROJECT_ID</key>
	<string>bankalert-13cdf</string>
	<key>STORAGE_BUCKET</key>
	<string>bankalert-13cdf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:983600994392:ios:b2aa6dd69b19ad11</string>
	<key>DATABASE_URL</key>
	<string>https://bankalert-13cdf.firebaseio.com</string>
</dict>
</plist>